{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Payment Entry {% endblock title %}

{% block page_css %}
<style></style>
{% endblock %}

{% block content %}
 <!-- Main Content -->
 <div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Payment Entry</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="/">Dashboard</a></div>
              <!-- <div class="breadcrumb-item"><a href="#">Bootstrap Components</a></div> -->
              <div class="breadcrumb-item">Payment Entry</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header"><h4>Payment Collection</h4></div>
            <div class="card-body">
                {% if messages %}
                {% for msg in messages %}
                <div class="alert {{msg.tags}} alert-dismissible" role="alert">
                  
                  <div class="alert-body">
                    <button class="close" data-dismiss="alert">
                      <span>×</span>
                    </button>
                    {{msg}}
                  </div>
                  
                </div>
                {% endfor %}
              {% endif %}
              </div>
            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                    <div class="form-group col-lg-4 mb-3">
                      <label for="purchase">Select Purchase <span class="text-danger">*</span></label>
                      <select name="purchase" class="form-control" required>
                        {% for purchase in purchases %}
                        <option value="{{ purchase.id }}">
                          {{ purchase.customer.name }} - {{purchase.customer.area}} — ₹{{ purchase.due_amount }} due
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  
                    <div class="form-group col-lg-4 mb-3">
                      <label for="amount_paid">Amount Paid (Rs.) <span class="text-danger">*</span></label>
                      <input type="number" name="amount_paid" step="0.01" class="form-control" placeholder="0.00" required>
                    </div>

                    <div class="form-group col-lg-4 mb-3">
                        <label for="payment_mode" class="form-label">Payment Mode <span class="text-danger">*</span></label>
                        <select class="form-control selectric" id="payment_mode" name="payment_mode" onchange="toggleRefField()" required>
                          <option value="">-- Choose --</option>
                          <option value="Cash">Cash</option>
                          <option value="Google Pay">Google Pay</option>
                          <option value="PhonePe">PhonePe</option>
                          <option value="Paytm">Paytm</option>
                          <option value="Amazon Pay">Amazon Pay</option>
                          <option value="UPI">UPI</option>
                          <option value="Bank Transfer">Bank Transfer</option>
                          <option value="Discount">Discount</option>
                          
                        </select>
                    </div>
                    
                    <div class="form-group col-lg-4 mb-3" id="ref-set" style="display: none;">
                      <label for="reference_id" class="form-label">Payment Reference ID </label>
                      <input type="text" class="form-control" id="reference_id" name="reference_id" disabled>
                    </div>
                    <!-- <div class="form-group">
                      <label for="payment_date">Payment Date:</label>
                      <input type="date" name="payment_date" class="form-control" value="{{ today|date:'Y-m-d' }}">
                    </div> -->
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-upload mr-2"></i>Submit Payment</button>
                  </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block page_js %} 
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<script>
$(document).ready(function () {
  setTimeout(function() {
      $('.alert').fadeOut(); // Hides the alert smoothly
  }, 10000); // 10 Seconds
});
</script>
<script>
  function toggleRefField() {
    const paymentMethod = document.getElementById('payment_mode').value;
    const refField = document.getElementById('reference_id');
    const refSet = document.getElementById('ref-set');
    // Methods that require Reference ID
    const digitalPayments = ['Google Pay', 'PhonePe', 'Paytm', 'Amazon Pay', 'UPI', 'Bank Transfer'];

    if (digitalPayments.includes(paymentMethod)) {
      refSet.style.display = 'block';
      refField.disabled = false;
      refField.placeholder = "Enter Reference ID or Transaction No.";
    } else {
      refSet.style.display = 'none';
      refField.value = '';
      refField.disabled = true;
      refField.placeholder = "";
    }
  }
</script>
{% endblock %}